.box{
  height: 200px;
  width: 200px;
  overflow: auto;
  background: red;
}
.fondo{
  background: white;
}

.listado--grid{
  display: flex;
  flex-direction: column;
  div{
    img{
      width: 100%;
      border-radius: 10px;
    }
    h2, p{
      margin: 0;
    }
  }
}

//Celular horizontal
@media screen and (min-width: 320px) {
  .listado--grid{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 15px;
  }
}

@media screen and (min-width: 40em){
  .listado--grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}

.products--grid{
  display: flex;
  flex-direction: column;
  div{
    img{
      width: 100%;
      border-radius: 10px;
    }
    h2, p{
      margin: 0;
    }
  }
}

.message-error, .mensajeError{
  background: red;
  color:white;
  opacity: 0;
  transition: all linear .5s;
  &.invalid{
    opacity: 1;
  }
}

.myForm{
  background-color: rgb(218, 208, 121);
  align-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  label{
    font-style: italic;
    font-family: verdana;
  }
  input{
    font-family: Tahoma;
  }
  .mensajeFormError, .mensajeNameError, .mensajeEmailError, .mensajePasswordError{
    background: red;
    color:white;
    opacity: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: all linear .5s;
    width: 20%;
    &.invalid, &.caracteres, &.mail, &.cantidad{
      opacity: 1;
    }
  }
  .lineForm-error{
    height: 0;
    border-bottom: 1px solid;
    &.invalid{
      border-color: red;
    }
    &.valid{
      border-color: green;
    }
  }
  button{
    border-radius: 2em;
    background-color: chocolate;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
  }
}

.practica1, .practica2{
  opacity: 0;
  transition: all linear .5s;
  &.valido{
    opacity: 1;
    background-color: green;
    color: white;
  }
}

.line-error{
  height: 0;
  border-bottom: 1px solid;
  &.invalid{
    border-color: red;
  }
  &.valid{
    border-color: green;
  }
}

.styles{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.estilos{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 40em){
  .products--grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
