<h1>Practicando con *ngFor y *ngIf</h1>
<div>Registre {{ registro }} con la letra {{ letras.charAt(numero) }}</div>
<input type="text" required [(ngModel)]="newName" />
<button (click)="agregar()">Agregar</button>
<p *ngIf="btnDisabled">{{ error }}</p>
  <ul>
    <li *ngIf="cosas.length === 0">No hay cosas agregadas</li>
    <li *ngFor="let cosa of cosas; index as i">
      {{i}} {{ cosa }}
      <button (click)="borrar(i)">Borrar</button>
    </li>
  </ul>
<hr/>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
  <ul>
    <li *ngIf="names.length === 0">No hay nombres</li>
    <li *ngFor="let name of names; index as i">
      {{i}} {{ name }}
      <button (click)="deleteName(i)">Delete</button>
    </li>
  </ul>
<hr/>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'nicolas'">Soy Nicolas</p>
<p *ngIf="person.name === 'julian' && person.age === 18; else myBlock">Soy Julian</p>
<ng-template #myBlock>
  <p>Bloque de else</p>
</ng-template>
<hr/>
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{nameInput.valid}}</p>
<p>Age: {{ person.age }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ageInput.valid}}</p>
<hr/>
<h1>Eventos</h1>
<!-- activar y/o desactivar boton -->
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<!-- Incrementar la edad -->
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age++</button>
<!-- Leer en que posicion se encuentra un div con barra de desplazamiento -->
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti earum beatae labore porro ratione. Velit maxime autem, modi dolor consequuntur perspiciatis nemo deserunt. Eos omnis veritatis, cumque hic ad quibusdam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quis a veniam earum nam commodi excepturi quia reprehenderit ullam atque? Magni dolore quod corporis officiis, suscipit sunt placeat quas non. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ab atque unde vero blanditiis consequatur dolores! Aliquid illum suscipit voluptatem ducimus sapiente, quia laboriosam inventore recusandae reiciendis asperiores nihil? Quaerat.</p>
</div>
<!-- Detectar cada ves que se teclea obteniendo su valor -->
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<p>Nombre {{ person.name }}</p>
<hr/>
<!-- Mensaje de alerta cuando hace doble click -->
<div (dblclick)="dobleClic($event)">{{ dobleClick }}</div>
<hr/>
<!-- Cuando pasa el mouse cambia de estilo el elemento <p> con 2 eventos en el mismo elemento -->
<p (mouseover)="pasaElMouse($event)" (mouseout)="alejaElMouse($event)" class="fondo">{{ texto1 }}</p>
<hr/>
<!-- Detecta si la caja de texto esta seleccionada o no -->
<input type="text" [value]="person.name" (focus)="enfoque($event)" (blur)="desenfoque($event)">
<div >{{ mensaje }}</div>
<hr/>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar">
<hr/>
<h1>Hola Mundo</h1>
<h2>{{ "Hola Mundo".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img src="{{ img }}" alt="image">
